<header>
  <img (click)="calculateDecoratorOffset(0)" routerLink="" src="assets/logo.svg" alt="Logo of David Szuhay" class="logo">
  <div class="mobile-header">
    <img (click)="toggleSidebar()" src="assets/hamburger.svg" alt="Hamburger menu icon">
    <nav>
      <ul [class.active]="showSidebar">
        <li class="close-icon" (click)="toggleSidebar()"><img src="assets/close.svg" alt="X icon for closing"></li>
        <li><a href="">Home</a></li>
        <li><a href="">Skills</a></li>
        <li><a href="">Projects</a></li>
        <li><a href="">About</a></li>
        <li><a href="">Contact</a></li>
      </ul>
    </nav>
  </div>
  <div class="pc-header" >
    <nav>
      <div [style.left]="decoratorOffset + 'px'" class="selected-page-decorator"></div>
      <ul>
        <li class="page-title"><a (click)="calculateDecoratorOffset(0)" routerLink="/" routerLinkActive="active">Home</a></li>
        <li class="page-title skills" (mouseover)="showDropdown()" (mouseout)="hideDropdown()">
          <a (click)="calculateDecoratorOffset(1)" routerLink="/skills" routerLinkActive="active">Skills</a>
          <!-- <ul [style.display]="isDropdownActive ? 'flex' : 'none'" class="dropdown">
            <li ><a href="">Current Skillset</a></li>
            <li><a href="">Learning Projects</a></li>
          </ul> -->
        </li>
        <li class="page-title"><a (click)="calculateDecoratorOffset(2)" routerLink="/projects" routerLinkActive="active">Projects</a></li>
        <li class="page-title"><a (click)="calculateDecoratorOffset(3)" routerLink="/about" routerLinkActive="active">About</a></li>
        <li class="page-title"><a (click)="calculateDecoratorOffset(4)" routerLink="/contact" routerLinkActive="active">Contact</a></li>
      </ul>
    </nav>
    @if (lightMode) {
      <img (click)="updateColorScheme()" src="assets/light-mode-toggle.svg" alt="Icon of the sun" class="light-mode-toggle">
    } @else {
      <img (click)="updateColorScheme()" src="assets/dark-mode-toggle.svg" alt="Icon of the moon" class="light-mode-toggle">
    }
  </div>
  
</header>
