<section class="about">
  <div class="paragraph-container">
    <img src="assets/coding.svg" alt="">
    <p>I <b>started coding in 2020</b> after getting accepted to BME, a great university in my home country, Hungary. I quickly found out that I love to program very, very much!</p>
  </div>
  <div class="paragraph-container reverse">
    <p class>I first looked into <b>Web Development</b> because my dad always used to complain about how terrible his company's website was.</p>
    <img src="assets/webdev.svg" alt="">
  </div>
  <div class="paragraph-container">
    <img src="assets/learn.svg" alt="">
    <p>In 2022 I took a deeper dive in the field and completed a lot of online courses including <b>FreeCodeCamp</b> and <b>Harvard's CS50</b>.</p>
  </div>
  <div class="paragraph-container reverse">
    <p>In 2023 I was lucky enough to attend an In-Person Coding Bootcamp. It was <b>DevMountain's Web Developer Bootcamp</b>, held in <b>TX, Dallas</b>.</p>
    <img src="assets/bootcamp.svg" alt="">
  </div>
  <div class="paragraph-container">
    <img src="assets/customer.svg" alt="">
    <p>I first started <b>working with clients</b> and on projects other than my own <b>in 2024</b>. I also built a solid foundation in <b>Mobile Development</b>. </p>
  </div>
</section>
