.projects {
  min-height: calc(100vh - 8rem);
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-container {
  width: 100%;
  height: 25vh;
  font-family: "Alfa Slab One";
  font-size: 6.4rem;
  display: flex;
  align-items: center;
}

.title-container h2 {
  width: calc(100% / 3);
  text-align: center;
  line-height: 6.4rem;
}

.filter-buttons {
  height: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 3vh;
}

.filter-buttons button img {
  height: 100%;
  object-fit: contain;
}

.filter-buttons .framework-filter, .filter-buttons .capability-filter {
  position: relative;
}

.is-filtered-container {
  height: 100%;
  width: 2rem;
  display: flex;
  align-items: center;
}

.capability-filter .is-filtered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  border-radius: 2rem;
  border: 2px solid white;
  color: white;
  transform: scale(0.75);
}

.filter-buttons .capability-filter button {
  gap: 1rem
}


.filter-buttons button {
  height: 6rem;
  border-radius: 3rem;
  padding: 1rem 2rem;
  font-family: "Roboto Slab";
  font-size: 2.4rem;
  gap: 2rem;
  background-color: #D9D9D9;
  border: 1px solid #9B9B9B;
}

.framework-filter .framework-options-container, .capability-filter .capability-options-container {
  width: 100%;
  position: absolute;
  bottom: 0%;
  transform: translateY(calc(100% + 0.5rem));
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 3rem;
  font-family: "Roboto Slab";
  font-size: 2.4rem;
  gap: 2rem;
  z-index: 1;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
}

.option {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.option i {
  width: 2.4rem;
  height: 2.4rem;
  background-color: #eee;
  border-radius: 0.5rem;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.option img {
  padding: 0 0.4rem 0.4rem 0.4rem;
  height: 100%;
  width: 100%;
}

.card-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 2rem;
  column-gap: 5%;
  row-gap: 6rem;
}

app-card {  
  width: 30%;
  background-color: white;
  height: 40rem;
  border-radius: 1.5rem;
  box-shadow: 0px 4px 9.6px 5px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

button {
  height: 4rem;
  border-radius: 1rem;
  border: none;
  display: flex;
  align-items: center;
  padding: 0.4rem 0.8rem;
  gap: 1rem;
  font-size: 2rem;
  font-family: "Marmelad";
  line-height: 2rem;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}



button svg {
  height: 100%;
  object-fit: contain;
  width: max-content;
  transition: all 0.25s ease-in-out;
}