.projects {
  min-height: calc(100vh - 5rem);
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-container {
  width: 100%;
  height: 25vh;
  font-family: "Alfa Slab One";
  font-size: clamp(2rem, 1rem + 2.083vw, 3.5rem);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.title-container h2 {
  width: calc(100% / 3);
  text-align: center;
  line-height: 4rem;
  width: max-content;
  color: var(--clr-bnw-inverse)
}

.filter-buttons {
  height: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 3vh;
}

.filter-buttons button img {
  height: 100%;
  object-fit: contain;
}

.filter-buttons .framework-filter, .filter-buttons .capability-filter {
  position: relative;
}

.is-filtered-container {
  height: 100%;
  width: 1.25rem;
  display: flex;
  align-items: center;
}

.capability-filter .is-filtered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.25rem;
  border-radius: 50%;
  border: 2px solid white;
  color: white;
  transform: scale(0.75);
}

.filter-buttons .capability-filter button {
  gap: 0.5rem
}


.filter-buttons button {
  height: 4rem;
  border-radius: 1.875rem;
  padding: 0.5rem 1.25rem;
  font-family: "Roboto Slab";
  font-size: clamp(1.125rem, 1.05rem + 0.375vw, 1.5rem);
  gap: 1.25rem;
  background-color: #D9D9D9;
  border: 1px solid #9B9B9B;
}

.framework-filter .framework-options-container, .capability-filter .capability-options-container {
  width: 100%;
  position: absolute;
  bottom: 0%;
  transform: translateY(calc(100% + 0.25rem));
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 1.875rem;
  font-family: "Roboto Slab";
  font-size: 2.4rem;
  gap: 1.25rem;
  z-index: 1;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
}

.option {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  font: clamp(1rem, 0.9rem + 0.5vw, 1.5rem) "Roboto Slab"
}

.option i {
  width: 1.5rem;
  height: 1.5rem;
  background-color: #eee;
  border-radius: 0.25rem;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.option img {
  padding: 0 0.25rem 0.25rem 0.25rem;
  height: 100%;
  width: 100%;
}

.card-container {
  width: 100%;
  display: grid;
  row-gap: 2.5rem;
  column-gap: 1.5rem;
  padding: 1.25rem;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
}

app-card {  
  background-color: white;
  height: 25rem;
  border-radius: 1rem;
  box-shadow: 0px 4px 9.6px 5px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  position: relative;
}

button {
  height: 2.5rem;
  border-radius: 0.5rem;
  border: none;
  display: flex;
  align-items: center;
  padding: 0.25rem 0.5rem;
  gap: 0.5rem;
  font-size: 1.25rem;
  font-family: "Marmelad";
  line-height: 1.25rem;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}



button svg {
  height: 100%;
  object-fit: contain;
  width: max-content;
  transition: all 0.25s ease-in-out;
}

@media only screen and (max-width: 768px) {
  .title-container {
    flex-direction: column;
    height: max-content;
    gap: 1.5rem;
    margin: 1.5rem;
  }
}

@media only screen and (max-width: 564px) {
  .filter-buttons {
    flex-direction: column;
    row-gap: 1.5rem;
    height: max-content;
  }
}

@media only screen and (max-width: 400px) {
  .card-container {
    margin: auto;
    grid-template-columns: 1fr;
  }
}