section {
  background-color: aliceblue;
  max-width: 768px;
  width: 100%;
  height: calc(100vh - 10rem);
  margin: 2.5rem auto;
  padding: 2.5rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.contact-options {
  display: flex;
  justify-content: space-between;
}

.my-email, .my-extras {
  display: flex;
  align-items: center;
  gap: clamp(0.5rem, -0.036rem + 2.679vw, 1.25rem);
}

.my-email {
  cursor: pointer;
}

.my-email p {
  font: clamp(1rem, 0.286rem + 3.571vw, 2rem) "Marmelad";
}

.my-email img {
  border-radius: 10px;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

a {
  color: black;
  text-decoration: none;
}

.contact-options img {
  width: clamp(1.5rem, 0.429rem + 5.357vw, 3rem);
  height: clamp(1.5rem, 0.429rem + 5.357vw, 3rem);
  cursor: pointer;
}

form {
  width: 100%;
  height: 100%;
  padding: 5% 10%;
  display: flex;
  flex-direction: column;
}

input {
  height: 2.5rem;
  border-radius: 0.5rem;
  padding-left: 0.5rem;
  font: 1.25rem "Marmelad";
  margin-bottom: 1.875rem;
}

label, h3, form > input {
  display: block;
  font: 1.5rem "Roboto Slab";
  padding-bottom: 0.5rem;
}
.name-inputs label {
  font: 1rem "Marmelad";
  padding-bottom: 1.875rem;
}

.name-inputs {
  display: flex;
  width: 100%;
}
.name-inputs input {
  width: 90%;
  margin-bottom: 0rem;
}

.firstName, .lastName {
  width: 50%;
}

.lastName input, .lastName label {
  margin-left: 10%;
}

#email {
  width: 45%;
}

textarea {
  width: 100%;
  max-width: 100%;
  height: 30%;
  font: 1.5rem "Marmelad";
  padding: 1.25rem;
  margin-bottom: 1.875rem;
}

.button-21 {
  align-items: center;
  appearance: none;
  background-color: #3EB2FD;
  background-image: linear-gradient(1deg, #4F58FD, #149BF3 99%);
  background-size: calc(100% + 20px) calc(100% + 20px);
  border-radius: 100px;
  border-width: 0;
  box-shadow: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-flex;
  font-family: CircularStd,sans-serif;
  font-size: 1rem;
  height: auto;
  justify-content: center;
  line-height: 1.5;
  padding: 6px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background-color .2s,background-position .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
  width: 7.5rem;
  align-self: flex-end;
}

.button-21:active,
.button-21:focus {
  outline: none;
}

.button-21:hover {
  background-position: -20px -20px;
}

.button-21:focus:not(:active) {
  box-shadow: rgba(40, 170, 255, 0.25) 0 0 0 .125em;
}

@media only screen and (max-width: 400px) {
  .contact-options img {
    width: 1.875rem;
    height: 1.875rem;
  }

  form > input, #lastName, #firstName {
    width: 100% !important;
  } 
}

@media only screen and (max-width: 768px) {
  .name-inputs {
    flex-direction: column;
  }

  .lastName label {
    margin-left: 0;
  }

  #lastName {
    margin: 0;
  }

  .firstName, .lastName {
    width: 100%;
  }

  #lastName, #firstName {
    width: 80%;
  }

  form > input {
    width: 80%;
  }

  form {
    padding: 1% 2%;
  }

}