<main>
  <section class="hero">
    <div class="headline-container">
      <h1>
        <span class="small-font">
          Hello, I am <br>
        </span>
        David Szuhay <br>
        <span class="small-font">
          and I am a <br>
        </span>
        Web Developer
      </h1>
      <div class="buttons-container">
        <div class="resume-container">
          <button (click)="toggleLinks()" class="resume-button">
            RESUME <img src="../../assets/resume-icon.svg" alt="Icon of a resume">
          </button>
          @if (showLinks) {
            <div @scaleInOut class="resume-links">
              <a href="https://drive.google.com/file/d/1SdrOHmgZ3cvjNWrGUuTQPPsrm0hNv_wb/view?usp=sharing" target="_blank" aria-label="Link to English resume">ENG</a>
              <a href="https://drive.google.com/file/d/1Y22Pz8j6gPZzcaEPgkYRZjLWO3q0Dnkn/view?usp=sharing" target="_blank" aria-label="Link to Hungarian resume">HU</a>
            </div>
          }
        </div>
        <a routerLink="/contact" routerLinkActive="active" class="contact-button">
          CONTACT <img src="../../assets/contact-icon-white.svg" alt="Icon of a phone">
        </a>
      </div>
    </div>
    <img src="../assets/profile picture.png" alt="Professional picture of David Szuhay" class="professional-image">
  </section>
  <section class="latest-projects">
    <div class="latest-projects-headline-container">
      <h2 id="cubed">LATEST PROJECTS</h2>
      <div routerLink="/projects" class="all-projects-button">
        <img src="../assets/list.svg" alt="List icon">
        <h3>All Projects</h3>
      </div>
    </div>
    <ul class="latest-projects-container">
      <li class="showcase-project">
        <app-card [card]="latestProjects[0]"/>
      </li>
      <li class="showcase-project second-project">
        <app-card [card]="latestProjects[1]"/>
      </li>
      <li class="showcase-project third-project">
        <app-card [card]="latestProjects[2]"/>
      </li>
    </ul>
  </section>
</main>
