main {
  width: 100%;
  height: calc(200vh - 460px);
  background-color: var(--clr-background);
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .hero {
  max-width: 1280px;
  width: 100%;
  height: calc(100vh - 80px);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

h1 {
  font-family: "Abril Fatface", serif;
  font-size: 6.4rem;
  color: var(--clr-bnw-inverse)
}

h1 .small-font {
  font-family: "Marmelad", sans-serif;
  font-size: 3.6rem;
  padding-left: 5rem;
}

.headline-container .buttons-container {
  width: 100%;
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
  gap: 5rem;
}

.buttons-container .resume-button, .buttons-container .contact-button {
  height: 6rem;
  width: 24rem;
  border-radius: 3rem;
  border: none;
  font-family: "Roboto Slab", serif;
  font-size: 3.2rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  cursor: pointer;
  transition: all 0.1s linear;
  text-decoration: none;
}

.resume-button {
  color: black;
  background-color: white;
}

.resume-button:hover, .contact-button:hover {
  transform: scale(1.05) rotate(2deg);
}

.buttons-container .contact-button {
  background-color: #FF204E;
  color: white;
}

.resume-button img, .contact-button img {
  height: 3rem;
  width: 3rem;
  object-fit: contain;
}

main .professional-image {
  width: 50%;
  height: 100%;
  object-fit: contain;
}

main .latest-projects {
  max-width: 1280px;
  width: 100%;
  height: calc(100vh - 430px);
  background-color: 	rgb(176, 216, 251);
  border-radius: 10px;
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
  padding: 2rem;
  padding-bottom: 4rem;
  margin-bottom: 3rem;
}

.latest-projects-headline-container {
  display: flex;
  justify-content: space-between;
}

.latest-projects-headline-container h2 {
  font-family: "Alfa Slab One", serif;
  border-bottom: 5px dashed #32557f;
  font-size: 4rem;
}

.latest-projects-headline-container .all-projects-button {
  border-top-left-radius: 37px 140px;
  border-top-right-radius: 23px 130px;
  border-bottom-left-radius: 110px 19px;
  border-bottom-right-radius: 120px 24px;
  border: solid 3px #6e7491;
  transform: rotate(-1deg);
  box-shadow: 3px 15px 8px -10px rgba(0, 0, 0, 0.3);
  transition: all 0.13s ease-in;
  display: flex;
  gap: 2rem;
  padding: 1rem;
  cursor: pointer;
  background-color: white;
}

.all-projects-button:hover {
  transform: rotate(2deg) !important;
}

.all-projects-button img {
  height: 3rem;
  width: 3rem;
  object-fit: contain;
}

.all-projects-button h3 {
  font-family: "Marmelad", sans-serif;
  font-size: 2.4rem;
}

.latest-projects .latest-projects-container {
  width: 100%;
  margin-top: 2rem;
  height: calc(100% - 6rem);
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.showcase-project {
  position: relative;
}

.latest-projects-container .showcase-project {
  height: 75%;
  width: 30%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  background-color: white;
}

.showcase-project.second-project {
  align-self: center;
}

.showcase-project.third-project {
  align-self: flex-end;
}

@media only screen and (max-width: 400px) {
  .resume-button, .contact-button {
    width: 20rem !important;
    height: 5rem !important;
  }

  .latest-projects-headline-container h2 {
    font-size: 3.2rem;
  }
}

@media only screen and (max-width: 768px) {
  main .hero {
    flex-direction: column;
  }
  main .professional-image {
    width: 100%;
    height: 50%;
  }
}