.skills {
  height: calc(100vh - 8rem);
  background-color: var(--clr-background);
  overflow: hidden;
  position: relative;
}

.image-container {
  position: absolute;
  width: 200vw;
  height: calc(300vh - 8rem);
  transition: all 0.5s ease-in-out;
  transform: translateX(-3%);
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@keyframes blinking {
  from { opacity: 1; }
  to { opacity: 0.4; }
}

.button-container {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 40vw;
  height: 100px;
  display: flex;
}

.button-container button {
  height: 100%;
  border: 0;
  cursor: pointer;
  transition: all 0s 0.5s linear !important;
  background-color: transparent;
}

.button-container img {
  height: 100%;
  object-fit: contain;
  transition: all 0s 0.5s ease-in-out;
}