<header>
  <div class="logo">
    Logo
  </div>
  <nav>
    <div class="selected-page-decorator"></div>
    <a href="">
      Home
    </a>
    <a href="">
      Skills
    </a>
    <a href="">
      Projects      
    </a>
    <a href="">
      About
    </a>
    <a href="">
      Contact
    </a>
  </nav>
  <div class="dark-mode-toggle">

  </div>
</header>
<main>
  <section class="hero">
    <div class="headline-container">
      <h1>
        <span class="small-font">
          Hello, I am <br>
        </span>
        David Szuhay <br>
        <span class="small-font">
          and I am a <br>
        </span>
        Web Developer
      </h1>
      <div class="buttons-container">
        <button class="resume-button">
          Resume
        </button>
        <button class="contact-button">
          Contact
        </button>
      </div>
    </div>
    <div class="professional-image">

    </div>
  </section>
  <section class="latest-projects">

  </section>
</main>
<aside></aside>
<footer>

</footer>

<router-outlet />
