/* <-- Font Imports ——> */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&family=Abril+Fatface&family=Marmelad&display=swap');

header {
  height: 8rem;
  width: 100%;
  background-color: #28282B;
  display: flex;
  align-items: end;
  position: fixed;
}

header .logo {
  margin-left: 5rem;
  margin-right: auto;
  height: 15rem;
  width: 15rem;
  object-fit: contain;
  transform: translateY(7.5rem);
}

nav {
  display: flex;
  gap: 8rem;
  height: 100%;
  display: flex;
  align-items: end;
  padding-bottom: 5px;
  padding-right: 8rem;
  position: relative;
}

.selected-page-decorator {
  position: absolute;
  width: 140px;
  height: 10px;
  background-color: white;
  top: 0%;
}

nav a {
  font-family: "Marmelad", sans-serif;
  font-size: 40px;
  color: white;
  text-decoration: none;
}

.dark-mode-toggle, .light-mode-toggle {
  height: 3rem;
  width: 3rem;
  margin-bottom: 1.5rem;
  background-color: #ebf6f7;
  border-radius: 1.5rem;
  margin-right: 8rem;
  cursor: pointer;
}

main {
  width: 100%;
  height: calc(200vh - 300px);
  background-color: #ebf6f7;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .hero {
  margin-top: 8rem;
  max-width: 1280px;
  width: 100%;
  height: calc(100vh - 8rem);
  background-color: green;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

h1 {
  font-family: "Abril Fatface", serif;
  font-size: 6.4rem;
  background-color: yellow;
  /* text-align: center; */
}

h1 .small-font {
  font-family: "Marmelad", sans-serif;
  font-size: 3.6rem;
  padding-left: 5rem;
}

.headline-container .buttons-container {
  background-color: blue;
  width: 100%;
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
  gap: 5rem;
}

.buttons-container .resume-button, .buttons-container .contact-button {
  height: 6rem;
  width: 24rem;
  border-radius: 3rem;
  border: none;
  font-family: "Roboto Slab";
  font-size: 3.2rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 3px 5px 6px 3px rgba(0, 0, 0, 0.42);
  cursor: pointer;
}

.buttons-container .contact-button {
  background-color: #FF204E;
  color: white;
}

.resume-button img, .contact-button img {
  height: 3rem;
  width: 3rem;
  object-fit: contain;
}

main .professional-image {
  width: 50%;
  height: 100%;
  background-color: teal;
  object-fit: contain;
}

main .latest-projects {
  max-width: 1280px;
  width: 100%;
  height: calc(100vh - 300px);
  background-color: yellow;
}

footer {
  height: 300px;
  background-color: blue;
}