<header>
  <img src="../assets/logo.svg" alt="Logo of David Szuhay" class="logo">
  <nav>
    <div class="selected-page-decorator"></div>
    <a href="">
      Home
    </a>
    <a href="">
      Skills
    </a>
    <a href="">
      Projects      
    </a>
    <a href="">
      About
    </a>
    <a href="">
      Contact
    </a>
  </nav>
  <img src="../assets/light-mode-toggle.svg" alt="Icon of the sun" class="light-mode-toggle">
</header>
<main>
  <section class="hero">
    <div class="headline-container">
      <h1>
        <span class="small-font">
          Hello, I am <br>
        </span>
        David Szuhay <br>
        <span class="small-font">
          and I am a <br>
        </span>
        Web Developer
      </h1>
      <div class="buttons-container">
        <button class="resume-button">
          RESUME <img src="../assets/resume-icon.svg" alt="Icon of a resume">
        </button>
        <button class="contact-button">
          CONTACT <img src="../assets/contact-icon-white.svg" alt="Icon of a phone">
        </button>
      </div>
    </div>
    <img src="../assets/profile picture.png" alt="Professional picture of David Szuhay" class="professional-image">
  </section>
  <section class="latest-projects">

  </section>
</main>
<aside></aside>
<footer>

</footer>

<router-outlet />
