aside {
  position: fixed;
  right: 0%;
  top: 60%;
  transform: translateY(-50%);
  width: 5vw;
  height: 30vh;
  border-radius: 5rem 0 0 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #D9D9D9;
  padding: 2rem 0;
  box-shadow: 0px 0px 9px 3px rgba(0, 0, 0, 0.42);
}

aside a {
  width: 60%;
  height: 30%;
  cursor: pointer;
}

a img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

a {
  transform: rotate(0deg);
}

a:hover {
  animation: buttonHover 1s;
}

footer {
  height: 250px;
  background-color: #31363F;
}

@media only screen and (max-width: 1200px) {
  aside {
    width: 8vw;
  }
}

@media only screen and (max-width: 768px) {
  aside {
    display: none;
  }
}