main {
  margin: auto;
  max-width: 828px;
  padding: 30px;
  width: 100%;
  height: calc(200vh - 160px);
}

.headline-container {
  height: calc(7.5rem - 30px);
  width: 100%;
  font: 1.75rem "Alfa Slab One";
  display: flex;
}

.headline-container h1 {
  height: 80%;
  max-width: calc(100% - 15rem + 60px);
  margin: 0 auto auto 0;
  line-height: 100%;
  padding-bottom: 0.25rem;
  padding-top: 0.125rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  border: var(--clr-bnw-inverse) 5px dashed;
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--clr-bnw-inverse)
}


.headline-container a {
  width: calc(7.5rem - 30px);
  height: calc(7.5rem - 30px);
  padding: 1.25rem;
  transition: all 0.2s ease-in-out;
}

.headline-container a:hover {
  transform: scale(1.05);
}

.headline-container img {
  background-color: #EEF7FF;
  border-radius: calc((5.625 - 30px) / 2);
  padding: 0.625rem;
  width: 100%;
  height: 100%;
  object-fit: contain;
  box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}

.border {
  background-color: transparent;
  color: red;
  position: absolute;
  top: calc(0% + 80px + 7.5rem);
  left: 50%;
  transform: translateX(-50%);
  max-width: 768px;
  width: 100%;
  max-height: 50vh;
  height: 100%;
  transform-style: preserve-3d;
  perspective: 2000px;
  transition: .4s;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    border-top: 20px solid #2C3A47;
    border-left: 20px solid #2C3A47;
    box-sizing: border-box;
  }
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-bottom: 20px solid red;
    border-right: 20px solid red;
    box-sizing: border-box;
  }

  .cover-image {
    position: absolute;
    top: 30px;
    left: -30px;
    width: calc(100% + 60px);
    height: calc(100% - 60px);
    background-color: #2C3A47;
    object-fit: contain;
    transition: .4s;
    border-radius: 1.25rem;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  }
  &:hover {
    .cover-image {
      transform: rotateY(20deg) skewY(-3deg)
    }
    transform: translateX(-50%) rotateY(-20deg) skewY(3deg)
  }
}

.details-container {
  position: absolute;
  top: calc(100px + 7.5rem + 50vh);
  height: calc(200vh - (180px + 7.5rem + 50vh));
  max-width: 768px;
  width: 100%;
}

.details-container h2 {
  font: 2.5rem "Marmelad";
  color: var(--clr-bnw-inverse);
}

.details-container p {
  font: 1.5rem "Marmelad"
}

.description {
  height: calc(100vh - (100px + 7.5rem + 50vh));
}

.description-headline {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  margin-bottom: 1.25rem;
}

.description-headline img {
  height: 3rem;
  width: 3rem;
  object-fit: contain;
}

.description-text {
  padding: 0.625rem 1.25rem;
  background-color: #EEF7FF;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.description p {
  width: 100%;
}

.description p:last-child {
  text-indent: 5%;
  margin-top: 1.25rem;
}

.tech-stack {
  padding-top: 5vh;
}

.tech-cards-container, .extras-cards-container {
  height: 30vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 4vh;
}

.tech-card, .extras-card {
  width: 27.5%;
  max-width: 27.5%;
  height: 100%;
  background-color: #EEF7FF;
  padding: 1rem;
  border-radius: 0.375rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tech-card img, .extras-card img {
  width: 100%;
  object-fit: contain;
  max-height: 80%;
}

.tech-card h3, .extras-card h3 {
  font: 1.25rem "Marmelad";
  text-align: center;
}

.extras {
  padding-top: 3vh;
}

.design-link {
  height: 4.6875rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;
}

.design-link img {
  height: 100%;
  object-fit: contain;
}
