<main class="project-details">
  <div class="headline-container">
    <h1>Xezame</h1>
    <a href="">
      <img src="assets/github.svg" alt="">
    </a>
    <a href="">
      <img src="assets/website.svg" alt="">
    </a>
  </div>
  <div class="border">
    <img class="cover-image" src="assets/mapex.png">
  </div>
  <div class="details-container">
    <section class="description">
      <div class="description-headline">
        <img src="assets/info-color.svg" alt="">
        <h2>OVERVIEW</h2>
      </div>
      <div class="description-text">
        <p> Xezame is a design for a recipe website, based on an interesting concept:</p>
        <p>You input the contents of your fridge and the website gives you all the recipes you can make from hem.</p>
      </div>
    </section>
    <section class="tech-stack">
      <h2>TECH STACK</h2>
      <div class="tech-cards-container">
        <div class="tech-card">
          <img src="assets/react.svg" alt="">
          <h3>React</h3>
        </div>
        <div class="tech-card">

        </div>
        <div class="tech-card">

        </div>
      </div>      
    </section>
    <section class="extras">
      <h2>EXTRAS</h2>
      <div class="extras-cards-container">
        <div class="extras-card">
          <img src="assets/react.svg" alt="">
          <h3>React</h3>
        </div>
      </div>
    </section>

    <div class="design-link">
      <img src="assets/design.svg" alt="">
      <p>Design available: <a href="">HERE</a></p>
    </div>
  </div>

</main>
