<main class="project-details">
  <div class="headline-container">
    <h1>{{project.title}}</h1>
    @if (project.githublink) {
      <a [href]="project.githublink" target="_blank">
        <img src="assets/github.svg" alt="Icon of GitHub">
      </a>
    }
    @if (project.websiteLink) {
      <a [href]="project.websiteLink" target="_blank">
        <img src="assets/website.svg" alt="Icon of a website globe">
      </a>
    }
  </div>
  <img class="cover-image" src="{{project.image}}">
  <div class="details-container">
    <section class="description">
      <div class="description-headline">
        <img src="assets/info-color.svg" alt="">
        <h2>OVERVIEW</h2>
      </div>
      <div class="description-text">
        @for (paragraph of project.details.longDescription; track project.id) {
          <p>{{paragraph}}</p>
        }
      </div>
    </section>
    @if (project.details.stackImageStrings.length) {
      <section class="tech-stack">
        <h2>TECH STACK</h2>
        <div class="tech-cards-container">
          @for (title of project.details.stackTechnologyTitles; track title) {
            <div class="tech-card">
              <img [src]="'assets/' + project.details.stackImageStrings[$index]">
              <h3>{{title}}</h3>
            </div>
          }
        </div>      
      </section>
    }
    @if (project.details.extras && project.details.extrasImageStrings) {
    <section class="extras">
      <h2>EXTRAS</h2>
      <div class="extras-cards-container">
          @for (title of project.details.extras; track title) {
            <div class="extras-card" [style.width]="'calc(' + (100 / project.details.extras.length - 1) + '%)'">
              <img src="assets/{{project.details.extrasImageStrings[$index]}}" alt="">
              <h3>{{title}}</h3>
            </div>
          }
        </div>
      </section>
    }
    @if (project.details.designLink) {
      <div class="design-link">
        <img src="assets/design.svg" alt="">
        <p>Design available: <a [href]="project.details.designLink" target="_blank">HERE</a></p>
      </div>
    }
  </div>

</main>
