:root {
  --clr-background: #ebf6f7;
  --clr-header: #28282B;
  --clr-black-white: #fff;
  --clr-bnw-inverse: #000;
  --clr-highlight: #343438; 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

@media only screen and (max-width: 1200px) {
  html {
    font-size: 42%;
  }
}

